.container-fluid {
  .container-body {
    .sidebar {
      background-color: #1a193f;
      color: #00aec3;
    }

    .body {
      background-color: #1a193f;
      color: #faf172;

    }
  }
}

/* Ajustes para telas menores */
@media (max-width: 767.98px) {
  .fixed-left {
    position: static;
    width: 100%;
    height: auto;
  }

  main {
    margin-left: 0;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}