<div class="row" #locationList>
    <div class="section-header">
        <h4> Todos as localidades </h4>
    </div>
    <div class="w-100">
        <ul class="section-cards w-100 d-flex flex-wrap">
            @for (item of locations; track item.name) {
            <li class="card-location">
                <a id="personagens" [href]="'/location-details/' + item.id" aria-label="escolher e ver episodios">
                    <div class="location-content">
                        <div class="card-header mx-2">
                            <div class="d-flex justify-content-center flex-wrap flex-column my-2">
                                <h6 class="d-flex align-items-start location-name ms-2">
                                    {{item.type}} {{item.name}}
                                </h6>
                            </div>
                        </div>

                    </div>
                </a>
            </li>
            }@empty {
            <li>There are no location.</li>
            }
        </ul>
    </div>
</div>