<div class="w-100">
    <div class="section-card w-100">
        <div class="card-img">
            <img class="photo-style" src="imgs/rick.jpg" alt="photo" />
        </div>
        <div class="card-info mx-2">
            <div class="text-center">
                <h3 class="text-left"><strong>Viagens malucas no tempo-espaço e por universos paralelos! </strong></h3>

                <p class="text-center info-show">Este programa ensina a respeitar o idoso,
                    mesmo que seja um alcoólatra perigoso,
                    que vive em uma realidade paralela e que é seu próprio avô.</p>
            </div>
        </div>
    </div>
    <div class="text-info mx-3 my-3">
        <h6 class="text-left">A16 - 2013 -7 Temporadas</h6>
        <h6 class="text-left">Animação para Adultos - Comédia</h6>
        <h6 class="text-left">Emissoras originais: Adult Swim, Cartoon Network.</h6>
        <h6 class="text-left">Autores: Justin Roiland, Dan Harmon, Brandon Johnson...</h6>
        <h6 class="text-left">Criadores: Justin Roiland, Dan Harmon.</h6>
    </div>
</div>