/* You can add global styles to this file, and also import other style files */
 $txtshared: #00aec3 ;//(Um verde-azulado brilhante, lembra portais)
 $border: #a2da94; //(Um amarelo vibrante)
 $txtsecondary: #abd5da ;//(Cinza claro - rick)
 $txtPrincipal: #1a193f ;//(azul espaço)
 $Destaque: #faf172 ;//(amarelo - morty)
 $alert: #ba3709; // vermelho sangue
 $alien:#360955;    